---
import '@/styles/global.css';

interface Props {
  description?: string;
  og?: string;
  title?: string;
}

const title = Astro.props.title
  ? `${Astro.props.title} — Nothing`
  : 'Nothing: Simply Do Nothing';

const description = Astro.props.description || 'A timer that counts nothing.';

const og = Astro.props.og || '/og.png';
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta content="width=device-width" name="viewport" />
    <link href="/favicon.svg" rel="icon" type="image/svg+xml" />
    <meta content={Astro.generator} name="generator" />
    <meta content="#18181b" name="theme-color" />

    <title>{title}</title>
    <meta content={title} name="title" />
    <meta content={description} name="description" />

    <meta content={title} property="og:title" />
    <meta content={description} property="og:description" />
    <meta content="Nothing" property="og:site_name" />
    <meta content="https://usenothing.com/" property="og:url" />
    <meta content="website" property="og:type" />
    <meta content={`https://usenothing.com${og}`} property="og:image" />

    <link href="/sitemap-index.xml" rel="sitemap" />
  </head>
  <body>
    <slot />
  </body>
</html>
